@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #081b29;
    color: white;
}

.header h1{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header p{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects h1{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 15px;
}
.projects a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 20px;
}